.directive-playing-container {
  width: fit-content;
  background-color: gold;
  margin: 1rem 0;
  padding: 1rem;
  box-sizing: border-box;
}

.box {
  width: 200px;
  height: 200px;
  background-color: white;
  margin: 12px;
}

.red {
  background-color: red;
}

.info-text {
  font-family: monospace;
  font-size: 10px;
}

.text-styling {
  font-family: Helvetica;
  font-weight: bold;
  padding: 8px;
  border: 1px solid gray;
}
