.container {
  width: fit-content;
  height: fit-content;
  padding: 2rem;
  background-color: #fffbb8;
  border: 1px solid black;
  font-family: Futura;
  margin: 1rem 0;
}

.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 1rem 0;
}