* {
  font-family: monospace;
}

.container {
  margin-top: 30px;
  background-color: #42f5a4;
  padding: 1rem;
  width: fit-content;
}

h2 {
  color: gray;
}

hr {
  color: black;
  background-color: black;
  border: 1px solid gray;
}
