<h1>Playground for angular practice</h1>
<app-project></app-project>
<app-ix-services></app-ix-services>
<app-assignment-five></app-assignment-five>
<app-directive-playing></app-directive-playing>
<app-assignment-four></app-assignment-four>
<app-ng-content></app-ng-content>
<app-viewchild></app-viewchild>
<app-event-binding-and-data></app-event-binding-and-data>
<app-assignment-three></app-assignment-three>
<app-ng-for></app-ng-for>
<app-ng-class></app-ng-class>
<app-ng-style></app-ng-style>
<app-property-binding></app-property-binding>
<app-assignment-two></app-assignment-two>
<app-movies-list></app-movies-list>
<app-button-thingy></app-button-thingy>
<app-type-experiment></app-type-experiment>
<app-section-vii></app-section-vii>
